以下のような手順を実行するプログラムを作成して実行し、id が同一のオブジェクト、異なるオブジェクトの動作を確認しなさい。  

- \[5, 4, 1, 2, 3\] を格納したリストを x に代入する。
- x に対する copy() メソッドを呼び出し、y とする。
- z = x で、リスト x を別変数からも指す。
- x, y, z を直接 printする。
- id(x), id(y), id(z) を print する。
- x に対して x.sort() を呼び出す。
- x, y, z を直接 printする。

In [ ]:
x = [5,4,1,2,3]
y = x.copy()
z = x
print(x)
print(y)
print(z)
print(id(x))
print(id(y))
print(id(z))
x.sort()
print(x)
print(y)
print(z)

学籍番号、名前を持つ Student クラスを定義し、 \__init\__, \__str\__ メソッドを定義しなさい。

- \__init\__ メソッドは学籍番号と名前を引数に受け取ること。
- \__str\__ メソッドは、以下のプログラムで出力結果として示す結果を得られるようにすること。

Student クラスを利用するプログラム

s1 = Student(1234567, "学生 一人目")  
s2 = Student(1234568, "学生 二人目")  
s3 = Student(1234500, "学生 三人目")  
print(s1)  
print(s2)  
print(s3)  

出力結果

学生 一人目(1234567)  
学生 二人目(1234568)  
学生 三人目(1234500)

In [ ]:
class Student:
	def __init__(self, idnum, name):
		self.idnum = idnum
		self.name = name
	def __str__(self):
		return "{}({})".format(self.name, self.idnum)

s1 = Student(1234567, "学生 一人目")
s2 = Student(1234568, "学生 二人目")
s3 = Student(1234500, "学生 三人目")
print(s1)
print(s2)
print(s3)

学籍番号を返すメソッド idnumber(self) をクラス Student に追加し、print(s1.idnumber()) で、メソッドを呼び出せることを確認しなさい。

In [ ]:
class Student:
	def __init__(self, idnum, name):
		self.idnum = idnum
		self.name = name
	def __str__(self):
		return "{}({})".format(self.name, self.idnum)
	def idnumber(self):
		return self.idnum

s1 = Student(1234567, "学生 一人目")
print(s1.idnumber())

, で区切られた数値の列を1行読み込み、それらの数値の合計値を出力するプログラムを作成しなさい。  

プログラムに書くべき手順は以下の通り。  

- input() で文字列を読み込む  
- その文字列に対して split(",") を呼び出し、結果のリストを得る（この時点で文字列のリストが得られる）
- 得られたリスト x を map(int, x) で整数列に変換する
- 数値の合計を関数 sum(リスト) で計算して出力する

In [ ]:
line = input()
x = line.split(",")
values = list(map(int, x))
print(sum(values))

以下の学生データリストを Student.idnumber() メソッドの戻り値（つまり学籍番号）順に並べ替えるプログラムを作りなさい。  

s1 = Student(1234567, "学生 一人目")  
s2 = Student(1234568, "学生 二人目")  
s3 = Student(1234500, "学生 三人目")  
students = \[s1, s2, s3\]

In [ ]:
class Student:
	def __init__(self, idnum, name):
		self.idnum = idnum
		self.name = name
	def __str__(self):
		return "{}({})".format(self.name, self.idnum)
	def idnumber(self):
		return self.idnum
	
s1 = Student(1234567, "学生 一人目")
s2 = Student(1234568, "学生 二人目")
s3 = Student(1234500, "学生 三人目")
students = [s1, s2, s3]

students.sort(key=Student.idnumber)
for s in students:
	print(s)

, で区切られた英単語（小文字のみ、途中に空白無し）の並びを、アルファベット順に並べて出力するプログラムを作成しなさい。

出力は、単純に print(リスト) の形で、リスト要素に入った文字列を1行に出力するものでよい。

入力値の例  
int,float,bool,str

出力結果の例  
\['bool', 'float', 'int', 'str'\]

In [ ]:
line = input()
x = line.split(",")
x.sort()
print(x)

, で区切られた英単語（小文字のみ）の並びを、アルファベット順に並べて出力するプログラムを作成しなさい。ただし、, の前後に空白が混じっている場合はそれを取り除くこと。  

出力は、単純に print(リスト) の形で、リスト要素に入った文字列を1行に出力するものでよい。

入力値の例
int, float,bool, str  

出力結果の例  
\['bool', 'float', 'int', 'str'\]

In [ ]:
line = input()
x = line.split(",")
y = list(i.strip() for i in x)
y.sort()
print(y)

, で区切られた英単語（大文字・小文字混在）の並びを、大文字小文字の違いを無視したアルファベット順に並べて出力するプログラムを作成しなさい。ただし、, の前後に空白が混じっている場合はそれを取り除くこと。  

出力は、単純に print(リスト) の形で、リスト要素に入った文字列を1行に出力するものでよい。  

入力値の例  
int, float, bool, str, Dictionary, Set, Tuple, List  

出力結果の例  

\['bool', 'Dictionary', 'float', 'int', 'List', 'Set', 'str', 'Tuple']

In [ ]:
line = input()
x = line.split(",")
y = list(i.strip() for i in x)
z = sorted(sorted(y), key=str.lower)
print(z)

最初の行に学生の人数、以降各行に学籍番号、学生の名前、試験の得点の並びが , で区切られているデータを読み込み、学生ごとの平均点を以下のような形式で出力するプログラムを作成しなさい。  

成績データが 0 件のときは平均点は 0 とする。  

入力値の例  

2  
1234567,学生 一人目,70,85,90,50  
1234568,学生 二人目,100,90  
出力結果の例  

学生 一人目(1234567): 73.75  
学生 二人目(1234568): 95.0

In [ ]:
import statistics as stats

n = int(input())
l = [input().split(",") for i in range(n)]

for i in range(n):
	num = []
	for j in l[i][2:]:
		num.append(int(j))
	ave = stats.mean(num)
	print("{}({}): {}".format(l[i][1], l[i][0], ave))

最初の行に学生の人数、以降各行に学籍番号、学生の名前、試験の得点の並びが , で区切られているデータを読み込み、学生ごとの平均点の降順で学生一覧を出力するようなプログラムを作成しなさい。  

成績データが 0 件のときは平均点は 0 とする。  

入力値の例  

5  
1234567,学生 一人目,70,85,90,50  
1234568,学生 二人目,100,90  
1234244,学生 三人目,80,85,90,95,100,60  
1234999,学生 四人目  
1235000,学生 五人目,20,30,60,90,80,50,70,80  

出力結果の例  

学生 二人目(1234568): 95.0  
学生 三人目(1234244): 85.0  
学生 一人目(1234567): 73.75  
学生 五人目(1235000): 60.0  
学生 四人目(1234999): 0

In [ ]:
import statistics as stats

n = int(input())
l = [input().split(",") for i in range(n)]
d = {}
	

for i in range(n):
	num = []
	for j in l[i][2:]:
		num.append(int(j))
	if l[i][2:] == []:
		ave = 0
	else:
		ave = stats.mean(num)

	d["{}({}):".format(l[i][1], l[i][0])] = ave

score_sorted = sorted(d.items(), key=lambda x:x[1], reverse=True)

for i in range(n):
	data = list(score_sorted[i])
	print("{} {}".format(data[0], data[1]))